.mobileHeader {
    position: relative;
    background-color: #fff; /* Background color for the header */
    padding: 0px; /* Add padding as needed */
  
    display: none;
    justify-content: space-between;
    align-items: center;
  }

  .menuToggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
  }

  .myname>h3{
    text-align: left;
    margin-left: 20px;
    color:#a5a6ff;
    font-family:'karla',sans-serif;
  
  }

  .bar {
    width: 30px;
    height: 3px;
    background-color:#000 ; /* Color of the hamburger bars */
    margin: 6px 0;
    transition: 0.4s;
  }

  .mobileMainMenu{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
  }
  .closeMenu{
   position: absolute;
   right:10px;
   top:10px;
  }
 

  @media (min-width:0px) and (max-width:769px){
    .mobileHeader{
      display: flex;
    }
  }