.mobileHeader {
    position: relative;
    background-color: #fff; /* Background color for the header */
    padding: 14px; /* Add padding as needed */
  
    display: none;
    justify-content: space-between;
    align-items: center;
  }

  .menuToggle {
    background: none;
    border: none;
    cursor: pointer;
   
  }

  .myname>h2{
    text-align: left;
    
    color:#130f49;
    font-family:'karla',sans-serif;
  
  }

  .menuToggle>i {
  
    font-size: 25px;
    font-weight: 800;
    margin: 6px 0;
    transition: 0.4s;
  }

  .mobileMainMenu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
  }
  .closeMenu{
   position: fixed;
   right:20px;
   top:20px;
   font-size: 20px;
  }
 
  .mmenu {
   
    top:30px;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
  }

  .mmenu>.menulink{
    font-family: "Karla", sans-serif;
    margin: 5px 0;
    color: #55527c;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 1px solid gainsboro;
  }

  .mresumebtn {
    position: absolute;
    bottom:30px;
    
    margin: 10px 25px 0px 25px;
    background-color: #130f49;
    color: white !important;
    border: none;
    border-color: #130f49;
  }
  .mresumebtn>.buttonlink {
    font-size: 16px;
    font-weight: 600;
    font-family: "Karla", sans-serif;
    color:white;
    text-decoration: none;
  }

  @media (min-width:0px) and (max-width:769px){
    .mobileHeader{
      display: flex;
    }
    .mmenu>.menulink{
      margin:10px 25px;
      padding:10px 0;
      
    }
    .closeMenu{
      margin: 0;
    }

  }