@import url(https://fonts.googleapis.com/css2?family=Karla:wght@100;200;300;400;500;600;700&display=swap);
@import "~@flaticon/flaticon-uicons/css/all/all";

body {
  font-family: 'Karla', sans-serif;
  margin: 0;
    padding: 0;
    overflow: hidden;

}

.scrollableDiv{
  overflow: auto;
}

.scrollableDiv::-webkit-scrollbar{
  display: none;
}
button:hover {
  transform: scale(0.9);
  
}
button{
  transition: all 500ms ease;
}